
/* Your CSS Code here. *//* Styling the main element */
main.accio#job {
  width: 150px;
  height: 150px;
  background-color: #000000;
}

/* Styling the paragraph inside the main element */
.hello-accio {
  color: #ffffff;
  margin-left: 32px;
  padding: 10px;
}
